.wrapper
  .main-header
    %ul
      %li
      %li
      %li
  .main-body
    .main-body__sub
      .side-bar
        %ul
          %li
          %li
          %li
          %li
          %li
          %li
          %li
          %li
          %li
          %li
          %li
          %li
  .main-footer
    %ul
      %li
      %li
      %li
